<footer class="bg-dark rounded-5">
    <div class="container mw-screen-xl">
        <div class="row mt-5 mb-7  justify-content-end">
            <div class="col-lg-3">
                <ul class="nav mx-n4">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-lg text-white text-primary-hover"><i
                                class="bi bi-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/GeronimoGc"
                            class="nav-link text-lg text-white text-primary-hover"><i class="bi bi-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCrGrG4OmCHwJsAcrikSIR5Q"
                            class="nav-link text-lg text-white text-primary-hover"><i class="bi bi-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <p class="text-sm text-white">
                    © Copyright 2024 GeronimoGc - Build like a PRO.
                </p>
            </div>
        </div>
    </div>
</footer>